@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.App {
  display: flex;
  font-family: "Kanit", "Arial";
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
}

p {
  margin: 5px;
}

li {
  list-style: none;
  margin-right: 20px;
  font-family: "Kanit", Helvetica, sans-serif;
  font-weight: 500;
}

strong {
  font-weight: 900;
}

.navbar {
  text-align: center;
  width: auto;
  border-radius: 25px;
}

/* .logo--placeholder {
  background-color: #80a4ec;
  border: 3px solid rgb(0, 0, 0);
  border-top: 5px solid black;
  border-left: 10px solid black;
  border-bottom: 7px solid black;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  margin: 30px;
} */

.profile--image {
  width: 250px;
  height: 250px;
  border-radius: 150px;
  border: 7px double black;
}

li {
  display: inline-block; /* Display inline block */
  position: relative; /* Set position relative */
  background: transparent;
  border: none;
  color: #000000; /* Set text color */
  margin-right: 40px;
  padding: 5px;
  cursor: pointer;
}

li:after {
  content: ''; /* Add content after the element */
  position: absolute; /* Position absolute for pseudo-element */
  width: 100%; /* Full width */
  transform: scaleX(0); /* Initial scale of 0 for underline effect */
  height: 3px; /* Height of the underline */
  bottom: 0; /* Align to bottom */
  left: 0; /* Align to left */
  background-color: #007bff; /* Background color of the underline */
  transform-origin: bottom right; /* Set transform origin */
  transition: transform 0.25s ease-out; /* Transition effect for the underline */
  font-weight: bold;
}

li:hover:after {
  transform: scaleX(1); /* Scale the underline on hover */
  transform-origin: bottom left; /* Set transform origin */
}

.cover--letter--text {
  background-color: #e7e7e7;
  width: 400px;
  border-radius: 25px;
  height: auto;
  border: 2px solid black;
}

.resume--text {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust based on your requirements */
  margin: 0 auto; /* Centers the container horizontally */
}

.top--div {
  display: flex;
}

.resume {
  margin: 0px 100px;
}


.resume {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust width as needed */
  margin: 0 auto; /* Centers container horizontally */
}

.cover--letter {
  margin: 0px 50px;
}

.webapps--list {
  display: flex;
}

.project {
  width: 250px;
  height: 250px;
  margin: 10px 50px;
  background-color: #80a4ec;
  border: 1px solid black;
  display: inline-block;
  border-radius: 25px;
}

.design {
  width: 250px;
  height: 250px;
  margin: 10px 50px;
  background-color: #80a4ec;
  border-radius: 25px;
  border: 1px solid black;
  display: inline-block;
}

.designs--list {
  display: flex;
}

.header--name {
  margin-top: 10px;
  margin-bottom: 0px;
}
.header--number {
  margin-top: 0px;
}
.header--email {
  margin-top: 0px;
  margin-bottom: 0px;
}

.header--info {
  font-size: 1em;
}

.popout--resume {
  border: #000000;
  background-color: #000000;
  color: white;
}

.view--button {
  position: absolute;
  top: 245px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: black; /* Button background color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  width: 250px;
  border: 1px solid black;
  transition: background-color 0.3s ease;
}

.view--button:hover {
  background-color: darkblue;
  border: 2px solid black;
  color: white;
}

.black--tint {
  background-color: #cdcdcd;
  width: 400px;
  border-radius: 25px;
  height: 250px;
  margin-top: 25px;
  border: 2px solid black;
  opacity: 50%;
}

.resume--snip {
  width: 400px;
  height: auto; /* Maintain aspect ratio */
  display: block;
  border-radius: 25px;
  border: 2px solid black;
}

.popout {
  position: relative;
  margin-top: 5px;
  width: 100%;
  border: 2px solid black;
}

.projects--text {
  margin-top: -35px;
}


.stat--heading {
  font-size: 56px;
  color: rgb(255, 255, 255);
  border-radius: 100px;
}



@media only screen and (max-width: 768px) {
  /* Styles for mobile devices */
  .App {
    width: 100%;
  }
}

.animated--box {
  width: 90px;
  height: 90px;
  background-color: coral;
  margin-left: 60px;
  margin-bottom: 50px;
  -webkit-animation: squareToCircle 2s 1s infinite alternate;
}

@-webkit-keyframes squareToCircle {
    0% {
      border-radius: 50% 50% 50% 50%;
      background: rgb(7, 7, 8);
      transform: rotate(0deg);
    }
    25% {
      border-radius: 50% 50% 50% 50%;
      background: rgb(28, 142, 255);
      transform: rotate(-45deg);
    }
    50% {
      border-radius: 50% 50% 50% 50%;
      background: rgb(41, 79, 117);
      transform: rotate(45deg);
    }
    75% {
      border-radius: 50% 50% 50% 50%;
      background: rgb(15, 18, 21);
      transform: rotate(-45deg);
    }
    100% {
      border-radius: 50% 50% 50% 50%;
      background: rgb(63, 154, 245);
      transform: rotate(45deg);
    }
}